<ion-header>
  <ion-toolbar>
    <ion-title>Search Flights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="spacing">
  <ion-list>
    <ion-item>
      Source
      <ion-searchbar
        [(ngModel)]="sourceSearchTerm"
        (ionInput)="setFilteredItems()" >
      </ion-searchbar>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-item 
          (click)="setSourceSearchTerm(item)"
          *ngFor="let item of sourceOptions">
          <a>{{item}}</a>
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item>
      Destination
      <ion-searchbar
        [(ngModel)]="destinationSearchTerm"
        (ionInput)="setFilteredDestItems()" >
      </ion-searchbar>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-item 
          (click)="setDestSearchTerm(item)"
          *ngFor="let item of destinationOptions">
          <a>{{item}}</a>
        </ion-item>
      </ion-list> 
    </ion-item>


    <ion-item>
      <ion-label>Departure Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-button type="submit">Search Travel Options</ion-button>
</ion-content>
