<ion-header>
  <ion-toolbar>
    <ion-title>Search Flights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      Source
      <ion-searchbar
        [(ngModel)]="sourceSearchTerm"
        (ionInput)="setSourceItems()" >
      </ion-searchbar>
      <!-- This below is the problem -->
      <!-- <ion-list>
        <ion-item *ng-For="let item of sourceOptions">
          {{item}}
        </ion-item>
      </ion-list> -->
    </ion-item>


    <ion-item>
      <ion-label>Departure Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
